extends layout

block content
    .jumbotron
      .container
        h1 About Us
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed sollicitudin dolor. Vestibulum laoreet, est at consectetur placerat, purus ve
        a.btn.btn-primary.btn-lg(href="") Learn more &raquo;

    .container
      .row
        .col-md-4
          h2 About Us
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed sollicitudin dolor. Vestibulum laoreet, est at consectetur placerat, purus ve
          a.btn.btn-default(href="") View Details
        .col-md-4
          h2 Service
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed sollicitudin dolor. Vestibulum laoreet, est at consectetur placerat, purus ve
          a.btn.btn-default(href="") View Details
        .col-md-4
          h2 Get in touch
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed sollicitudin dolor. Vestibulum laoreet, est at consectetur placerat, purus ve
          a.btn.btn-default(href="") View Details
